rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cotizaciones/{document=**} {
      allow create: if true;
      allow read: if false;
    }
  }
}
