rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /cotizaciones/{allPaths=**} {
      allow get: if true;
      allow list: if false;
      allow create: if request.resource.size < 24 * 1024 * 1024;
      allow update: if false;
      allow delete: if false;
    }
  }
}
